week_1/*.csv
week_1/data_pgadmin
week_1/ny_taxi_postgres_data
week_1/terraform.tfstate
week_1/terraform.tfstate.backup
week_1/.terraform
week_1/.terraform.lock.hcl

test/

*.ipynb_checkpoints
*.parquet